
<h1><%= @shelter.name %></h1>

<section id="shelter">
<ul>
<li>Address: <%= @shelter.address %></li>
<li>City: <%= @shelter.city %></li>
<li>State: <%= @shelter.state %></li>
<li>Zip Code: <%= @shelter.zip %></li>
<li>Pets: <%= @shelter.total_pets %></li>
<li>Average Rating: <%= @shelter.average_reviews.round(2) %></li>
<li>Open Applications: <%= @shelter.total_apps %></li>
</ul>

<article >
  <h2>Reviews</h2>
  <% @reviews.each do |review| %>
    <h3> <%= review.title %> </h3>
    <p> Rated <%= review.rating %> stars! </p>
    <p> <%= review.content %></p>
    <% if review.picture != "No Image" %>
      <img src=<%= "#{review.picture}" %> alt=<%= "#{review.picture}" %> height="100" width="100">
    <% end %>
    <%= button_to "Update Review", "/reviews/#{review.id}/edit", method: :get %><br/>
    <%= button_to "Delete Review", "/reviews/#{review.id}", method: :delete %>
  <% end %>

  <%= link_to  "Write a Review", "/shelters/#{@shelter.id}/reviews/new" %>
</article>

<%= button_to "Shelter Pets", "/shelters/#{@shelter.id}/pets", method: :get %>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: :get %>
<% if @shelter.adopted_pet?(@shelter) %>
<p> Currently a pet is being adopted from this Shelter!
<% else %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
<% end %>
</section>
