<body>

<h1><%= @shelter.name %></h1>

<nav>
  <%= link_to "Shelters", "/shelters" %>
  <%= link_to "Pets", "/pets" %>
</nav>

<section>
<ul>
<li>Address: <%= @shelter.address %></li>
<li>City: <%= @shelter.city %></li>
<li>State: <%= @shelter.state %></li>
<li>Zip Code: <%= @shelter.zip %></li>
</ul>

<%= button_to "Shelter Pets", "/shelters/#{@shelter.id}/pets", method: :get %>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: :get %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</section>

</body>
