<body>

<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>

<nav>
  <%= link_to "Shelters", "/shelters" %>
  <%= link_to "Pets", "/pets" %>
</nav>

<section>
<% @shelter.pets.each do |pet| %>
  <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </h2>
  <img src=<%= "#{pet.image}" %> alt=<%= "#{pet.image}" %> height="100" width="100">
  <ul>
    <li><%= "Age: #{pet.approximate_age}" %></li>
    <li><%= "Sex: #{pet.sex}" %></li>
    <li><%= "Description: #{pet.description}" %></li>
    <% if pet.adoptable %>
    <li><%= "Status: Adoptable" %></li>
    <% else %>
    <li><%= "Status: Pending Adoption" %></li>
    <% end %>
  </ul>
  <% end %>

<%= button_to "Create Pet", "/shelters/#{@shelter.id}/pets/new", method: :get%>
</section>
</body>
