<h1> New Review</h1>

<%= form_tag "/shelters/#{@shelter.id}", method: :post do %>
<%= label_tag :title %><br>
<%= text_field_tag :title, nil, placeholder: 'Your review at a glance'%><br>

<%= label_tag :rating %><br>
<%= number_field_tag :rating, nil, in: 1..5 %><br />

<%= label_tag :content %><br />
<%= text_area_tag 'content' %><br/>

<%= label_tag :picture, "Picture URL (Optional)" %><br>
<%= text_field_tag :picture, nil, placeholder: 'Optional'%><br>

<%= submit_tag "Submit Review" %>
<% end %>
